
.start{
    width: 411px;
    height: 823px;
    background-color: #19274A;
    /* padding: 1rem; */
}
.start__title{
    font-family: PT Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    color:white;
    padding:1rem;
}
.logo{
    margin-right: 20rem;
}
.start__title--container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    height: 100%;
}
.start__container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    position: relative;
}
.footer__pen{
    position: absolute;
    left:310px;
    top:730px;
    width: 4rem;
}
.footer{
    margin:0;
    padding: 0;
}
.footer__background{
    height: 103%;
    width: 411px;
}