.landing {
    background: #19274A;
    width: 411px;
    height: 823px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.landing__logo {

}

.landing__btn--container {
    margin: auto;
}

.landing__btn {
    font-family: 'PT sans';
    width: 220px;
    height: 220px;
    background: rgba(5, 151, 219, 0.53);
    border-radius: 50%;
    color: white;
}


