.landing {
    background-color: #D7DACE;
    width: 411px;
    height: 823px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.landing__logo {

}

.landing__btn--container {
    margin: auto;
}

.landing__btn {
    font-family: 'PT sans';
    font-size: 22px;
    width: 220px;
    height: 220px;
    background: #FFC176;
    border-radius: 50%;
    color: white;
    border: none;
}


